<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container img-parent text-center">
                    <img src="../../../assets/user.png" alt="">
                </div>
                <h1 class="text-center">Register here</h1>
                
                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input required name="username" [(ngModel)]="user.username" matInput placeholder="Eneter here" />
                        <mat-hint>username must be unique</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Firstname</mat-label>
                        <input required name="firstName" [(ngModel)]="user.firstName" matInput placeholder="Eneter here" />
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Lastname</mat-label>
                        <input required name="lastName" [(ngModel)]="user.lastName" matInput placeholder="Eneter here" />
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input required name="email" type="email" [(ngModel)]="user.email" matInput placeholder="Eneter here" />
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone No.</mat-label>
                        <input required name="phone" matInput [(ngModel)]="user.phone" type="number" placeholder="Eneter here" />
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input required name="password" type="password" [(ngModel)]="user.password" matInput placeholder="Eneter here" />
                    </mat-form-field>
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
                    </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>